Player {{playerNum}}:
<div *ngIf="{ showPlayerLogin: showPlayerLogin$ | async, player: player$ | async } as playerState; else loadingBlock">
  <p *ngIf="!playerState.showPlayerLogin && playerState.player" (click)="onClick()">{{playerState.player.id}}</p>
  <button *ngIf="!playerState.showPlayerLogin && !playerState.player" (click)="onClick()">Select Player</button>
  <app-login [playerNum]="playerNum" *ngIf="playerState.showPlayerLogin"></app-login>
</div>

<ng-template #loadingBlock>
  <p>Loading...</p>
</ng-template>