<header>
  <div class="header-title">
    <h1>chess-engine</h1>
  </div>
  <nav class="horizontal-items">
    @if ({ value: user$ | async }; as user) {
      @if (user.value) {
        <span>Welcome, user {{ user.value.id }}</span>
        <button mat-button color="primary" (click)="logoutClick()">
          Logout
        </button>
      } @else {
        <button mat-button color="primary" (click)="loginClick()">Login</button>
        <button mat-button color="primary" (click)="signUpClick()">
          Sign Up
        </button>
      }
    }
  </nav>
</header>
