<div [ngClass]="['player-card', align]">
  <div class="player-header">
    <h3>Player {{ playerNum }}</h3>
  </div>
  <div class="player-content">
    @if (player$ | async; as player) {
      @if (
        {
          isCurrentColor: isCurrentColor$ | async,
          isCurrentUser: isCurrentUser$ | async
        };
        as checks
      ) {
        <div
          class="player-name"
          [class.current-player-is-user]="
            checks.isCurrentUser && checks.isCurrentColor
          ">
          {{ player.nickname }}
        </div>
      }
    } @else {
      @if (align === "start") {
        <button mat-flat-button color="primary" (click)="onClick()">
          Join Game
          <mat-icon fontIcon="double_arrow"></mat-icon>
        </button>
      } @else {
        <button mat-flat-button color="primary" (click)="onClick()">
          Join Game
          <mat-icon
            iconPositionEnd
            [style.transform]="'rotate(180deg)'"
            fontIcon="double_arrow"></mat-icon>
        </button>
      }
    }
  </div>
</div>
