<div>
  <label for="game-id">Game ID: </label>
  <input id="game-id" #gameId />
  <button type="button" (click)="loadGame(gameId.value)">Load</button>
  <button type="button" (click)="createGame()">Create Game</button>
  <button type="button" (click)="endGame()">End Game</button>
</div>
<ng-container *ngIf="gameState$ | async; let gameState">
  <ng-container *ngIf="gameState.id">
    <app-board></app-board>
    <div>
      <p><b>ID:</b> {{gameState.id}}</p>
      <p><b>Turn:</b> {{gameState.turn}}</p>
      <p><b>Current Player:</b> {{gameState.current_player}}</p>
      <p><b>Status:</b> {{gameState.status}}</p>
    </div>
    <app-promote-unit *ngIf="gameState.status == 'promoting'"></app-promote-unit>
  </ng-container>
</ng-container>