.game-container {
  grid-area: game-container;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: grid;
  grid-template-areas:
    "player1 game-id player2"
    "board board board"
    "footer footer footer";
  width: 40%;
}

.game-id {
  grid-area: game-id;
}

.game-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}

.board-container {
  grid-area: board;
}

.player1-container {
  grid-area: player1;
}

.player2-container {
  grid-area: player2;
}
