.game-container {
  grid-area: game-container;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: grid;
  grid-template-areas:
    "player1 empty player2"
    "board board board"
    "footer footer footer";
}

.turn {
  grid-area: turn;
}

.game-id {
  grid-area: game-id;
}

.status {
  grid-area: status;
}

.game-footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "turn game-id status";
  justify-content: space-between;
}

.board-container {
  grid-area: board;
}

.player1-container {
  grid-area: player1;
}

.player2-container {
  grid-area: player2;
}

@media screen and (orientation: landscape) {
  .game {
    aspect-ratio: 1 / 1; // need to fix this, doesn't quite work as expected
    height: 75%;
  }
}
@media screen and (orientation: portrait) {
  .game {
    width: 75%;
    aspect-ratio: 1 / 1;
  }
}
