<div class="game-nav">
  <div class="horizontal-items">
    <mat-form-field>
      <mat-label>Game ID</mat-label>
      <input matInput id="game-id" #gameId />
      <button
        matSuffix
        mat-icon-button
        type="button"
        (click)="loadGame(gameId.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button color="primary" type="button" (click)="createGame()">
      Create Game
    </button>
    <button mat-button color="warn" type="button" (click)="endGame()">
      End Game
    </button>
  </div>
</div>
@if (gameState$ | async; as gameState) {
  @if (gameState.id) {
    <div class="game-container">
      <div class="game">
        <app-player class="player1-container" [playerNum]="1"></app-player>
        <div class="game-id">
          {{ gameState.id }}
        </div>
        <app-player class="player2-container" [playerNum]="2"></app-player>
        <app-board class="board-container"></app-board>
        <div class="game-footer">
          <div class="game-turn">
            <span>Turn:</span>
            {{ gameState.turn }}
          </div>
          <div class="game-status">
            <span>Status:</span>
            {{ gameState.status }}
          </div>
        </div>
        @if (gameState.status == "promoting") {
          <app-promote-unit></app-promote-unit>
        }
      </div>
    </div>
  }
}
