.board {
  display: inline-grid;
  grid-template-columns: repeat(8, min-content);
  border: 1px solid #000;
}

.square {
  width: 2rem;
  height: 2rem;
}

.square-dark {
  background: #000;
}

.square-light {
  background: #fff;
}
