.square {
  width: 2rem;
  height: 2rem;
  font-weight: bold;
}

.square-dark {
  background: brown;
}

.square-light {
  background: #fff;
}

.selectable {
  background: yellow;
}

.selectable:hover {
  transform: scale(1.5);
}

.selected {
  background: blue;
}

.movable {
  background: green;
}

.attackable {
  background: red;
}
