.dialog-bg-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.5);
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-action-buttons-container {
  display: flex;
  gap: 1rem;
}
