<div class="board">
  <app-square [location]="'a1'" [unit]="unitMap['a1']" [bgColor]="'color1'" [status]="statusMap['a1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b1'" [unit]="unitMap['b1']" [bgColor]="'color2'" [status]="statusMap['b1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c1'" [unit]="unitMap['c1']" [bgColor]="'color1'" [status]="statusMap['c1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d1'" [unit]="unitMap['d1']" [bgColor]="'color2'" [status]="statusMap['d1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e1'" [unit]="unitMap['e1']" [bgColor]="'color1'" [status]="statusMap['e1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f1'" [unit]="unitMap['f1']" [bgColor]="'color2'" [status]="statusMap['f1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g1'" [unit]="unitMap['g1']" [bgColor]="'color1'" [status]="statusMap['g1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h1'" [unit]="unitMap['h1']" [bgColor]="'color2'" [status]="statusMap['h1']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a2'" [unit]="unitMap['a2']" [bgColor]="'color2'" [status]="statusMap['a2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b2'" [unit]="unitMap['b2']" [bgColor]="'color1'" [status]="statusMap['b2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c2'" [unit]="unitMap['c2']" [bgColor]="'color2'" [status]="statusMap['c2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d2'" [unit]="unitMap['d2']" [bgColor]="'color1'" [status]="statusMap['d2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e2'" [unit]="unitMap['e2']" [bgColor]="'color2'" [status]="statusMap['e2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f2'" [unit]="unitMap['f2']" [bgColor]="'color1'" [status]="statusMap['f2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g2'" [unit]="unitMap['g2']" [bgColor]="'color2'" [status]="statusMap['g2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h2'" [unit]="unitMap['h2']" [bgColor]="'color1'" [status]="statusMap['h2']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a3'" [unit]="unitMap['a3']" [bgColor]="'color1'" [status]="statusMap['a3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b3'" [unit]="unitMap['b3']" [bgColor]="'color2'" [status]="statusMap['b3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c3'" [unit]="unitMap['c3']" [bgColor]="'color1'" [status]="statusMap['c3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d3'" [unit]="unitMap['d3']" [bgColor]="'color2'" [status]="statusMap['d3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e3'" [unit]="unitMap['e3']" [bgColor]="'color1'" [status]="statusMap['e3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f3'" [unit]="unitMap['f3']" [bgColor]="'color2'" [status]="statusMap['f3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g3'" [unit]="unitMap['g3']" [bgColor]="'color1'" [status]="statusMap['g3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h3'" [unit]="unitMap['h3']" [bgColor]="'color2'" [status]="statusMap['h3']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a4'" [unit]="unitMap['a4']" [bgColor]="'color2'" [status]="statusMap['a4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b4'" [unit]="unitMap['b4']" [bgColor]="'color1'" [status]="statusMap['b4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c4'" [unit]="unitMap['c4']" [bgColor]="'color2'" [status]="statusMap['c4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d4'" [unit]="unitMap['d4']" [bgColor]="'color1'" [status]="statusMap['d4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e4'" [unit]="unitMap['e4']" [bgColor]="'color2'" [status]="statusMap['e4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f4'" [unit]="unitMap['f4']" [bgColor]="'color1'" [status]="statusMap['f4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g4'" [unit]="unitMap['g4']" [bgColor]="'color2'" [status]="statusMap['g4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h4'" [unit]="unitMap['h4']" [bgColor]="'color1'" [status]="statusMap['h4']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a5'" [unit]="unitMap['a5']" [bgColor]="'color1'" [status]="statusMap['a5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b5'" [unit]="unitMap['b5']" [bgColor]="'color2'" [status]="statusMap['b5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c5'" [unit]="unitMap['c5']" [bgColor]="'color1'" [status]="statusMap['c5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d5'" [unit]="unitMap['d5']" [bgColor]="'color2'" [status]="statusMap['d5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e5'" [unit]="unitMap['e5']" [bgColor]="'color1'" [status]="statusMap['e5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f5'" [unit]="unitMap['f5']" [bgColor]="'color2'" [status]="statusMap['f5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g5'" [unit]="unitMap['g5']" [bgColor]="'color1'" [status]="statusMap['g5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h5'" [unit]="unitMap['h5']" [bgColor]="'color2'" [status]="statusMap['h5']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a6'" [unit]="unitMap['a6']" [bgColor]="'color2'" [status]="statusMap['a6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b6'" [unit]="unitMap['b6']" [bgColor]="'color1'" [status]="statusMap['b6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c6'" [unit]="unitMap['c6']" [bgColor]="'color2'" [status]="statusMap['c6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d6'" [unit]="unitMap['d6']" [bgColor]="'color1'" [status]="statusMap['d6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e6'" [unit]="unitMap['e6']" [bgColor]="'color2'" [status]="statusMap['e6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f6'" [unit]="unitMap['f6']" [bgColor]="'color1'" [status]="statusMap['f6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g6'" [unit]="unitMap['g6']" [bgColor]="'color2'" [status]="statusMap['g6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h6'" [unit]="unitMap['h6']" [bgColor]="'color1'" [status]="statusMap['h6']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a7'" [unit]="unitMap['a7']" [bgColor]="'color1'" [status]="statusMap['a7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b7'" [unit]="unitMap['b7']" [bgColor]="'color2'" [status]="statusMap['b7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c7'" [unit]="unitMap['c7']" [bgColor]="'color1'" [status]="statusMap['c7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d7'" [unit]="unitMap['d7']" [bgColor]="'color2'" [status]="statusMap['d7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e7'" [unit]="unitMap['e7']" [bgColor]="'color1'" [status]="statusMap['e7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f7'" [unit]="unitMap['f7']" [bgColor]="'color2'" [status]="statusMap['f7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g7'" [unit]="unitMap['g7']" [bgColor]="'color1'" [status]="statusMap['g7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h7'" [unit]="unitMap['h7']" [bgColor]="'color2'" [status]="statusMap['h7']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a8'" [unit]="unitMap['a8']" [bgColor]="'color2'" [status]="statusMap['a8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b8'" [unit]="unitMap['b8']" [bgColor]="'color1'" [status]="statusMap['b8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c8'" [unit]="unitMap['c8']" [bgColor]="'color2'" [status]="statusMap['c8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d8'" [unit]="unitMap['d8']" [bgColor]="'color1'" [status]="statusMap['d8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e8'" [unit]="unitMap['e8']" [bgColor]="'color2'" [status]="statusMap['e8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f8'" [unit]="unitMap['f8']" [bgColor]="'color1'" [status]="statusMap['f8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g8'" [unit]="unitMap['g8']" [bgColor]="'color2'" [status]="statusMap['g8']"
    (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'h8'" [unit]="unitMap['h8']" [bgColor]="'color1'" [status]="statusMap['h8']"
    (click)="onSquareClick($event)"></app-square>
</div>