<div class="board">
  <app-square [location]="'a1'" [unit]="locations['a1'].unit" [bgColor]="locations['a1'].bgColor"
    [status]="locations['a1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b1'" [unit]="locations['b1'].unit" [bgColor]="locations['b1'].bgColor"
    [status]="locations['b1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c1'" [unit]="locations['c1'].unit" [bgColor]="locations['c1'].bgColor"
    [status]="locations['c1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d1'" [unit]="locations['d1'].unit" [bgColor]="locations['d1'].bgColor"
    [status]="locations['d1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e1'" [unit]="locations['e1'].unit" [bgColor]="locations['e1'].bgColor"
    [status]="locations['e1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f1'" [unit]="locations['f1'].unit" [bgColor]="locations['f1'].bgColor"
    [status]="locations['f1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g1'" [unit]="locations['g1'].unit" [bgColor]="locations['g1'].bgColor"
    [status]="locations['g1'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a2'" [unit]="locations['a2'].unit" [bgColor]="locations['a2'].bgColor"
    [status]="locations['a2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b2'" [unit]="locations['b2'].unit" [bgColor]="locations['b2'].bgColor"
    [status]="locations['b2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c2'" [unit]="locations['c2'].unit" [bgColor]="locations['c2'].bgColor"
    [status]="locations['c2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d2'" [unit]="locations['d2'].unit" [bgColor]="locations['d2'].bgColor"
    [status]="locations['d2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e2'" [unit]="locations['e2'].unit" [bgColor]="locations['e2'].bgColor"
    [status]="locations['e2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f2'" [unit]="locations['f2'].unit" [bgColor]="locations['f2'].bgColor"
    [status]="locations['f2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g2'" [unit]="locations['g2'].unit" [bgColor]="locations['g2'].bgColor"
    [status]="locations['g2'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a3'" [unit]="locations['a3'].unit" [bgColor]="locations['a3'].bgColor"
    [status]="locations['a3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b3'" [unit]="locations['b3'].unit" [bgColor]="locations['b3'].bgColor"
    [status]="locations['b3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c3'" [unit]="locations['c3'].unit" [bgColor]="locations['c3'].bgColor"
    [status]="locations['c3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d3'" [unit]="locations['d3'].unit" [bgColor]="locations['d3'].bgColor"
    [status]="locations['d3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e3'" [unit]="locations['e3'].unit" [bgColor]="locations['e3'].bgColor"
    [status]="locations['e3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f3'" [unit]="locations['f3'].unit" [bgColor]="locations['f3'].bgColor"
    [status]="locations['f3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g3'" [unit]="locations['g3'].unit" [bgColor]="locations['g3'].bgColor"
    [status]="locations['g3'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a4'" [unit]="locations['a4'].unit" [bgColor]="locations['a4'].bgColor"
    [status]="locations['a4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b4'" [unit]="locations['b4'].unit" [bgColor]="locations['b4'].bgColor"
    [status]="locations['b4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c4'" [unit]="locations['c4'].unit" [bgColor]="locations['c4'].bgColor"
    [status]="locations['c4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d4'" [unit]="locations['d4'].unit" [bgColor]="locations['d4'].bgColor"
    [status]="locations['d4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e4'" [unit]="locations['e4'].unit" [bgColor]="locations['e4'].bgColor"
    [status]="locations['e4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f4'" [unit]="locations['f4'].unit" [bgColor]="locations['f4'].bgColor"
    [status]="locations['f4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g4'" [unit]="locations['g4'].unit" [bgColor]="locations['g4'].bgColor"
    [status]="locations['g4'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a5'" [unit]="locations['a5'].unit" [bgColor]="locations['a5'].bgColor"
    [status]="locations['a5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b5'" [unit]="locations['b5'].unit" [bgColor]="locations['b5'].bgColor"
    [status]="locations['b5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c5'" [unit]="locations['c5'].unit" [bgColor]="locations['c5'].bgColor"
    [status]="locations['c5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d5'" [unit]="locations['d5'].unit" [bgColor]="locations['d5'].bgColor"
    [status]="locations['d5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e5'" [unit]="locations['e5'].unit" [bgColor]="locations['e5'].bgColor"
    [status]="locations['e5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f5'" [unit]="locations['f5'].unit" [bgColor]="locations['f5'].bgColor"
    [status]="locations['f5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g5'" [unit]="locations['g5'].unit" [bgColor]="locations['g5'].bgColor"
    [status]="locations['g5'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a6'" [unit]="locations['a6'].unit" [bgColor]="locations['a6'].bgColor"
    [status]="locations['a6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b6'" [unit]="locations['b6'].unit" [bgColor]="locations['b6'].bgColor"
    [status]="locations['b6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c6'" [unit]="locations['c6'].unit" [bgColor]="locations['c6'].bgColor"
    [status]="locations['c6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d6'" [unit]="locations['d6'].unit" [bgColor]="locations['d6'].bgColor"
    [status]="locations['d6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e6'" [unit]="locations['e6'].unit" [bgColor]="locations['e6'].bgColor"
    [status]="locations['e6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f6'" [unit]="locations['f6'].unit" [bgColor]="locations['f6'].bgColor"
    [status]="locations['f6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g6'" [unit]="locations['g6'].unit" [bgColor]="locations['g6'].bgColor"
    [status]="locations['g6'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a7'" [unit]="locations['a7'].unit" [bgColor]="locations['a7'].bgColor"
    [status]="locations['a7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b7'" [unit]="locations['b7'].unit" [bgColor]="locations['b7'].bgColor"
    [status]="locations['b7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c7'" [unit]="locations['c7'].unit" [bgColor]="locations['c7'].bgColor"
    [status]="locations['c7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d7'" [unit]="locations['d7'].unit" [bgColor]="locations['d7'].bgColor"
    [status]="locations['d7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e7'" [unit]="locations['e7'].unit" [bgColor]="locations['e7'].bgColor"
    [status]="locations['e7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f7'" [unit]="locations['f7'].unit" [bgColor]="locations['f7'].bgColor"
    [status]="locations['f7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g7'" [unit]="locations['g7'].unit" [bgColor]="locations['g7'].bgColor"
    [status]="locations['g7'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'a8'" [unit]="locations['a8'].unit" [bgColor]="locations['a8'].bgColor"
    [status]="locations['a8'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'b8'" [unit]="locations['b8'].unit" [bgColor]="locations['b8'].bgColor"
    [status]="locations['b8'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'c8'" [unit]="locations['c8'].unit" [bgColor]="locations['c8'].bgColor"
    [status]="locations['c8'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'d8'" [unit]="locations['d8'].unit" [bgColor]="locations['d8'].bgColor"
    [status]="locations['d8'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'e8'" [unit]="locations['e8'].unit" [bgColor]="locations['e8'].bgColor"
    [status]="locations['e8'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'f8'" [unit]="locations['f8'].unit" [bgColor]="locations['f8'].bgColor"
    [status]="locations['f8'].status" (click)="onSquareClick($event)"></app-square>
  <app-square [location]="'g8'" [unit]="locations['g8'].unit" [bgColor]="locations['g8'].bgColor"
    [status]="locations['g8'].status" (click)="onSquareClick($event)"></app-square>
</div>